#contactinfo {
  height: 100%;
  transition: transform 350ms ease;
  }

#contactinfo:hover {
  transform: scale(1,2);
}

#contactinfo a:active {
  animation: change-text 1s ease infinite;
}

#about {
  transition: transform 350ms ease;
}

#about:hover {
  transform: rotate3d(3, 2, 2, 40deg) translateZ(50px);
}

#about a:active {
  animation: change-text 1s ease infinite;
}

#portfolio {
  transition: transform 350ms ease;
}

#portfolio:hover {
  transform: skew(20deg, 10deg);
}

#portfolio a:active {
  animation: change-text 1s ease infinite;
}

/* @keyframes change-background {
  0% {
    background: #69b7eb;
  }
  50% {
    background: #b3dbd3;
  }
  100% {
    background: #f4d6db;
  }
} */

@keyframes change-text {
  0% {
    color: #69b7eb;
  }
  50% {
    color: #b3dbd3;
    font-size: 2em;
  }
  100% {
    color: #f4d6db;
  }
}